/* Basic styling, you can enhance it as per your design */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f0f0;
}

header {
    background-color: rgb(111, 192, 237);
    padding: 10px;
    text-align: left;
}




main {
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: aquamarine;
    padding: 10px;
    width: 200px;
}

.cart {
    border: 1px solid #db1b1b;
    border-radius: 7px;
    background-color: rgb(199, 230, 241);
    padding: 10px;
    margin-top: 20px;
    margin-right: 1180px;
}

.cart-item {
    margin-bottom: 10px;
}
 
.button {
        background-color: #04d98b;
        border-radius: 3px;
        border: none;
        color: white;
        padding: 10px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      
  }
  .search-bar{
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
