<!DOCTYPE html>
<html lang="en" ng-app="medicineShopApp">
<head>
    <meta charset="UTF-8">
    <title>MediExpress</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="Home.js"></script>
    <link rel="stylesheet" href="Home_style.css">
</head>
<body>
    <div ng-controller="HomeController"> 
        <header>
            <div class="header_img">
                <img src="Image/medexpress-logo-E42A952767-seeklogo.com.png" alt="MediExpress Logo" width="90" height="60" >
                <center>
                            
                    <div class="search-bar">
                        <input type="text" ng-model="searchQuery" placeholder="Search products...">
                        <button ng-click="searchProducts()">Search</button>
                    </div>
                </center>
            </div>
            
        </header>
        <main>
            <section>
                <h2>Products</h2>
                <div class="product-list">
                    <div class="product" ng-repeat="product in products">
                        <h3>{{ product.name }}</h3>
                        <p>Price: {{ product.price | currency }}</p>
                        <button ng-click="addToCart(product)">Add to Cart</button>
                        <button ng-click="">Product Review</button>
                    </div>
                </div>
            </section>
            <section>
                <h2>Shopping Cart</h2>
                <div class="cart">
                    <div class="cart-item" ng-repeat="item in cart">
                        <p>{{ item.name }} - Price: {{ item.price | currency }}</p>
                    </div>
                    <input type="button" class="button" value="Order Now">
                </div>
            </section>
        </main>
    </div>
</body>
</html>









<!--<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script>
    var app=angular.module("my-app",[]);
    
    app.controller('firstCtrl',function($scope){
        $scope.name="Abir";
    });
    
    app.controller('scndCtrl',function($scope){
        $scope.name="Siam";
    });
    
</script>

<body>

    <div ng-controller="firstCtrl">
        {{name}}
    </div>

    <div ng-controller="scnddCtrl">
        <p>Name : <input type="text" ng-model="name"></p>
        <p>{{name}}</p>
        <p ng-bind="name"></p>
    </div>

<div ng-app="">
  <p>Name : <input type="text" ng-model="name"></p>
  <h1>Hello {{name}}</h1>
  <p ng-bind="name"></p>
</div>

</body>
</html>-->